<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Shop</a>
         </li>
         <li class="nav-item active">
         <a href="/default_site" class="btn btn-primary margin-button">Set as default site</a>
         </li>
    </ul>
  </div>
</nav>
<div class="row">
    <div class="container">
        <h1>Themes</h1>
            <div class="row">
                <% @themes.each do |theme| %>
                    <div class="col-4">
                        <div class="card card-body" style="height: 50rem;">
                            <%= link_to cm_path(theme) do %>
                                <%= image_tag theme.name + ".png" %>
                            <% end %>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>