<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce CMS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/cms">CMS</a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" href="/">Shop</a>
         </li>
    </ul>
  </div>
</nav>
<div>
    <div class="col-sm-12 col-md-12 main">
        <div class="page-header">
        <%= link_to "Publish", cm_widget_path(@widget), method: 'patch', class: 'btn btn-primary' %>
        <%= link_to "Edit header", edit_cm_header_path(@cms, @header), class: 'btn btn-primary' %>
        <%= link_to "Edit banner", edit_cm_banner_path(@cms, @banner), class: 'btn btn-primary' %>
        <%= link_to "Customize products", edit_cm_custom_product_path(@cms, @custom_product), class: 'btn btn-primary' %>
        </div>
        <div>
          <%= render :inline => @detail.result(binding), :layout => false%>
          <%= render :inline => @hbody.result(binding), :layout => false%>
          <%= render :inline => @renderer.result(binding), :layout => false%>
        </div>
    </div>
</div>