
<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record btn btn-danger' %>
  </td>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :label, label: false %></td>
  <td><%= f.input :field_type, label: false %></td>
  <td><%= f.input :redirect_url, label: false, as: :string %></td>
  <td><%= f.input :values, label: false, as: :string %></td>
</tr>
