.navbar {
    margin: 0rem !important;
}

.sidebar {
    height: calc(100vh - 58px);
    background-color: rgb(247, 246, 242);
}

.inline {
    display: inline;
}

.margin-button {
    margin-left: 2rem;
}
